<footer>
<div class="footer-box">
    <nav class="list-1">
        <ul class="ul-1">
            <a href="https://adalab.es/bootcamp-programacion/" target="_blank"><li > ARTICLES</li></a>
           <a href="https://adalab.es/blog/" target="_blank"><li> BOOKS</li></a>
           <a href="https://adalab.es/equipo/" target="_blank"> <li> EVENTS</li></a>
            <a href="https://adalab.es/por-que-elegirnos/" target="_blank" ><li> REASONS </li></a>
            <a href="https://adalab.es/contacto/" target="_blank"><li> TIPS</li></a>
        </ul>
    </nav>

    
    <nav class="list-2">
        <ul>
            <a href=""><li>TWITTER</li></a>
           <a href=""> <li>INSTAGRAM</li></a>
           <a href=""> <li>MASTODONT.SOCIAL</li></a>
        </ul>
    </nav>
    <span class="footer">
    <p>@2023 </p>
</span>
<span class="love">
    <p> we (love)components</p>
</span>
</div>

</footer>