
  
  <section> 
  <p> insomia tips</p>
  
  <h2>Looking Through A Window</h2>
  <p>Donec accumsan, nulla ut volupat porttitor, quam odiotempus felis, at lotus ex diamnec lectus.Vivamus semper sodales rotrum.</p> 
  <figure>
  <button> Go </button>
  </figure> 
  
  </section>
  
  <section>
  <h2>3 Reasons To Purchase</h2>
  
  <article> 
  <h2>Ut sed metus</h2>
  <p> lorem ipsum dolor sit amet consecteur.</p>
  </article>
  
  <h2>Curabitur ac erat</h2>
  <p> Mauris mattis urna quis lorem molestie.</p>
  
  <article>
  <h2> Morbi dictums </h2>
  <p> Alicuam in dolor et dolor tincidunt.</p>
  </article>
  
  <button> More Reasons </button>
  <img src="" alt="flechitaarriba">
  
  </section>