<section>
    <span class="insomnia">
      <p>insomia tips</p>
    </span>
    <div class="columna">
    <span class="looking">
      <h2>Looking Through A Window</h2>
    </span>
    <span class="donec">
      <p>
        Donec accumsan, nulla ut volupat porttitor, quam odiotempus felis, at lotus ex diamnec lectus.Vivamus semper sodales rotrum.
      </p>
    
    </span>
    <figure>
      <div class="botton-go">
        <span class="go-text"> Go </span>
      </div>
    </figure>
  </div>
  </section>