* {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

.header {
  width: 44px;
  height: 7vh;
  margin: 0 94px 240px 0;
  padding: 15px 14px;
  background-color: #0271bc;
  position: fixed;
  top: 0;
  z-index: 1; }

.footer-box {
  padding: 60px 15px 45px;
  background-color: #304268;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center; }
  .footer-box ul {
    list-style: none; }
    .footer-box ul li {
      text-decoration: none;
      color: #ffffff; }

.list-1 {
  width: 73px;
  height: 150px;
  margin: 0 108px 30px 109px;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.list-2 {
  width: 147px;
  height: 90px;
  margin: 15px 71px 15px 72px;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.88;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.footer {
  width: 77px;
  height: 30px;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.love {
  width: 290px;
  height: 30px;
  margin: 10px 0 0;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  padding-bottom: 15px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

@media screen and (min-width: 768px) {
  .footer-box {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    .footer-box .love {
      order: -1;
      text-align: left; }
    .footer-box .list-2 {
      order: -2;
      text-align: left; }
    .footer-box .list-1 {
      text-align: left; } }

.section-2 {
  width: 100%;
  height: 106vh;
  padding: 30px 15px 60px;
  background-color: #eff9ff;
  text-align: center;
  justify-content: center;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr; }
  .section-2 p {
    color: black h2;
      color-color: black; }

.reasons {
  height: 30px;
  margin: 0 0 45px;
  font-family: RobotoSlab;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: center;
  color: black; }

.ut.sed {
  width: 184px;
  height: 30px;
  font-family: RobotoSlab;
  font-size: 2rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: black; }

article p {
  height: 63px;
  margin: 2px 0;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: center;
  color: black; }

h2 {
  margin-top: 45px; }

.more-reasons-box {
  width: 184px;
  height: 45px;
  padding: 0 29.5px 0 30.5px;
  border-radius: 22.5px;
  background-color: #f26002;
  -webkit-margin-start: 20%;
  margin-inline-start: 20%; }

.more-reasons {
  width: 25px;
  height: 45px;
  font-family: Roboto;
  font-size: 1.188rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.ico-arrow-box {
  width: 50px;
  height: 50px;
  background-color: #ffffff;
  border-radius: 50%;
  -webkit-margin-start: 42.5%;
  margin-inline-start: 42.5%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 5vh;
  z-index: 0; }

.ico-arrow {
  width: 30px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 50%;
  padding-top: 40%; }

@media screen and (min-width: 768px) {
  .articles-1 {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    -moz-column-gap: 50px;
    column-gap: 50px;
    justify-content: space-between; }
  .section-2 {
    height: 428px; }
  .more-reasons-box {
    margin-top: 80px;
    -webkit-margin-start: 40%;
    margin-inline-start: 40%; }
  .ico-arrow-box {
    -webkit-margin-start: 48%;
    margin-inline-start: 48%; } }

.hero-box {
  width: 100%;
  height: 100%;
  background-image: url(../images/cover.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0 15px 53px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center; }

.title {
  width: 290px;
  height: 110px;
  margin: 268px 0 10px 15px;
  font-family: RobotoSlab;
  font-size: 2.625rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.31;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.hero-text {
  width: 290px;
  height: 21px;
  margin: 10px 0 45px 15px;
  font-family: Roboto;
  font-size: 1rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff; }

.ico-scroll {
  width: 45px;
  height: 45px;
  padding: 18px 12px 15.3px 13px;
  border-radius: 22.5px;
  background-color: #ffffff; }

.figure {
  display: flex;
  justify-content: center; }

@media screen and (min-width: 768px) {
  .title {
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center; }
  .hero-text {
    font-size: 24px;
    width: 100%;
    padding-top: 40px; } }

.columna {
  padding: 0 30px; }

.insomnia {
  width: 100%;
  height: 30px;
  font-family: Roboto;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.14;
  letter-spacing: normal;
  color: #8ccbea;
  display: inline-flex;
  padding-left: 15px;
  padding-top: 10px; }

.looking {
  width: 290px;
  padding-top: 10px;
  font-family: RobotoSlab;
  font-size: 1.25rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  color: black; }

.donec {
  width: 100%;
  margin: 15px 0 30px;
  font-family: Roboto;
  font-size: 1.125rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.67;
  letter-spacing: normal;
  color: #4a4a4a;
  display: flex; }

.botton-go {
  width: 76px;
  height: 45px;
  margin: 30px 214px 50px 0;
  padding: 0 25px 0 26px;
  border-radius: 22.5px;
  border: solid 2px #f26002;
  padding-bottom: 45px; }

.go-text {
  display: flex;
  width: 25px;
  height: 45px;
  font-family: Roboto;
  font-size: 1.25rem;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 2.25;
  letter-spacing: normal;
  text-align: center;
  color: #f26002; }

@media screen and (min-width: 768px) {
  .columna {
    padding: 0 60px;
    width: 90%;
    align-items: center; } }

/*# sourceMappingURL=main.css.map */
