.footer-box {
    padding: 60px 15px 45px;
    background-color: #304268;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
   
    ul{
    list-style: none;

 li {
    text-decoration: none;
    color: #ffffff;
}
}
}

    

.list-1 {
    width: 73px;
    height: 150px;
    margin: 0 108px 30px 109px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;


}


.list-2 {
    width: 147px;
    height: 90px;
    margin: 15px 71px 15px 72px;
    font-family: Roboto;
    font-size: 1rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.88;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
  }
  
    
.footer {
    width: 77px;
    height: 30px;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
}
.love {
    width: 290px;
    height: 30px;
    margin: 10px 0 0;
    font-family: Roboto;
    font-size: 0.875rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    padding-bottom: 15px;
    letter-spacing: normal;
    text-align: center;
    color:#ffffff;
  }
  @media screen and (min-width:768px) {
   .footer-box{
    display:flex;
    flex-direction: row;
    justify-content:center;
    padding-inline-end: 20%;

    
    .love { 
        order: -1;
        text-align: left;
    }
    .list-2 {
        order: -2;
        text-align: left;
    }
    .list-1 {
        text-align: left;
       
    }

    
   }
  }
  
